body {
    margin: 0;
    height: 100vh;
    width: 100vh;
    margin-left: auto;
    margin-right: auto;
    
}

.gridtemplateareas {
    height: 95%;
    display: grid;
    grid-template-rows: 8fr 5fr 5fr;
    grid-template-columns: 5fr 5fr 5fr 5fr 5fr 5fr 5fr;
    grid-template-areas: "head head head head head head head"
                        "main main main nav nav nav nav"
                       "main2 main2 main2 main2  main3 main3 main3";
}

.gridtemplateareas2 {
    height: 95%;
    display: grid;
    grid-template-rows: 5fr 5fr 5fr;
    grid-template-columns: 5fr 5fr 5fr;
    grid-template-areas: "head nav main"
                        "main2 main3 main4"
                       "main5 main5 main5";
}

.gridtemplateareas3 {
    height: 95%;
    display: grid;
    grid-template-rows: 5fr 5fr 5fr 5fr;
    grid-template-columns: 5fr 5fr 5fr 5fr 5fr 5fr;
    grid-template-areas: "head  head head nav nav nav"
                        "head head head main main main"
                       "main2 main2 main2 main2 main3 main3 "
                       "main4 main4 main5 main5 main6 main6";
}

.gridtemplateareas .item:nth-child(1) {
    grid-area: head;
    background-color: red;
    display: flex;
    justify-content: right;
    background-image: url(/images/Bamse2.jpg);
  }
  
  .gridtemplateareas .item:nth-child(2) {
    grid-area: main;
    background-color: green;
  }
  
  .gridtemplateareas .item:nth-child(3) {
    grid-area: nav;
    background-color: yellow;
  }
  
  .gridtemplateareas .item:nth-child(4) {
    grid-area: main2;
    background-color: aqua;
  }

  .gridtemplateareas .item:nth-child(5) {
    grid-area: main3;
    background-color: brown;
  }

  .gridtemplateareas .item:nth-child(6) {
    grid-area: main4;
    background-color: brown;
  }
  .gridtemplateareas .item:nth-child(7) {
    grid-area: main5;
    background-color: brown;
  }







  .gridtemplateareas2 .item:nth-child(1) {
    grid-area: head;
    background-color: red;
  }
  
  .gridtemplateareas2 .item:nth-child(2) {
    grid-area: main;
    background-color: green;
  }
  
  .gridtemplateareas2 .item:nth-child(3) {
    grid-area: nav;
    background-color: yellow;
  }
  
  .gridtemplateareas2 .item:nth-child(4) {
    grid-area: main2;
    background-color: aqua;
  }

  .gridtemplateareas2 .item:nth-child(5) {
    grid-area: main3;
    background-color: brown;
  }

  .gridtemplateareas2 .item:nth-child(6) {
    grid-area: main4;
    background-color: lime;
  }
  .gridtemplateareas2 .item:nth-child(7) {
    grid-area: main5;
    background-color: black;
  }

.item {
    text-align: center;
    margin: 5px;
    border: black 2px solid;
}

img {
    max-width: 100%;
}

.gridtemplateareas3 .item:nth-child(1) {
    grid-area: head;
    background-color: red;
  }
  
  .gridtemplateareas3 .item:nth-child(2) {
    grid-area: main;
    background-color: green;
  }
  
  .gridtemplateareas3 .item:nth-child(3) {
    grid-area: nav;
    background-color: yellow;
  }
  
  .gridtemplateareas3 .item:nth-child(4) {
    grid-area: main2;
    background-color: aqua;
  }

  .gridtemplateareas3 .item:nth-child(5) {
    grid-area: main3;
    background-color: brown;
  }

  .gridtemplateareas3 .item:nth-child(6) {
    grid-area: main4;
    background-color: lime;
  }
  .gridtemplateareas3 .item:nth-child(7) {
    grid-area: main5;
    background-color: black;
  }
  .gridtemplateareas3 .item:nth-child(8) {
    grid-area: main6;
    background-color: pink;
  }

  .links {
    display: flex;
    justify-content: space-between;
  }

  .text-ruta {
    background-color: yellow;
    border: black solid 1px;
    width: 30%;
    height: 22%;
  }